.sidebar-container {
    background-color: #0d1b2b;
    color: #b5b5b5;
    box-sizing: border-box;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    width: 100%;
    background-color: #1c2a3b;
    color: #b5b5b5;
    font-size: 30px;
    font-weight: bold;
}

.sidebar-genreList {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.sidebar-genreList ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 10%;
    padding-left: 0;
    overflow-y: auto;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 6px 6px 15px rgb(38, 44, 72), inset -6px -6px 15px rgb(48, 62, 95);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(94, 209, 238);
}


.sidebar-genreList li {
    position: relative;
    min-height: 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    text-align: left;
    list-style-type: none;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 20px;
    text-overflow: ellipsis;
}

.sidebar-genreList li:hover {
    color: #1da7d1;
    overflow: visible;

}

.sidebar-genre--active {
    color: #1da7d1;
}

.sidebar-button-container {
    display: flex;
    flex-direction: column;
}

.sidebar-button-container button {
    margin-top: 5px;
}

.sidebar-orderButtons {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.sidebar-orderButtons button {
    background-color: #1da7d1;
    width: 80%;
    margin-bottom: 5px;
    font-weight: 500;
    color: white;
}

.sidebar-orderButtons button:hover {
    background-color: #1b94b9;

}

.sidebar-adminButtons {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.sidebar-adminButtons button {
    background-color: #1b94b9;
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    font-weight: 300;
    color: white;
}
.sidebar-adminButtons button:hover{
    background-color: #18728d;
}

.sidebar-allGenres-li {
    color: #3f51b5;
}