.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.modal-paper {
  border-radius: 10%;
  background-color: #d3d7e0;
  max-width: 30vw;
  max-height: 80vh;
  width: 30vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
}

.modal-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 40px;
}
.modal-info-wrapper div {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  margin-top: 20px
}
.modal-info-wrapper span {
  font-weight: 500;
  margin-left: 20px;
}
.BookEditorModal-inputFile{
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.BookEditorModal-inputFile + label {
  width:50%;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background-color: #1da7d1;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}
.BookEditorModal-inputFile:focus + label,
.BookEditorModal-inputFile + label:hover {
  background-color: #16809D;
}
.BookEditorModal-inputFile + label {
  cursor: pointer;
}
